.library-page {
    padding: 0;
    &__russian {
        background-image: url(../../assets/images/library/1.jpg);
        padding: 40px 0 70px 0;
        background-size: contain;
        background-position: 45%;
    }
    &__fiction {
        // background-image: url(../../assets/images/library/4.jpg);
        // background-size: contain;

        background-image: url(../../assets/images/library/6.jpg);
        background-size: cover;
        background-position: 50% 34%;

        // background-image: url(../../assets/images/library/5.svg);
        // background-size: cover;
        // background-position: 100% 100%;
        padding: 40px 0 70px 0;
    }
    &__like {
        background-image: url(../../assets/images/library/like2.jpg);
        background-size: auto;
        background-position: 100% 45%;
        padding: 40px 0 70px 0;
        
        background-repeat: no-repeat;
    }
    &__list-new {
        padding: 40px 0 70px 0;
    }
    &__new-img {
        height: 273px;
    }
    // &__quote {
    //     background-image: url(../../assets/images/library/quote1.png);
    // }
}