.list {
    &__header {
        margin-bottom: 24px;
    }
    &__body {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &__body > .book {
        margin-right: 24px;
    }
    &__body > .book:last-child {
        margin-right: 0;
    }
}


@media (max-width: 768px) {
    .list {
        &__body {
            width: 100%;
            overflow-x: scroll;
        }
        &__book {
            margin-right: 12px;
        }
    }
}