.list {
    &__header {
        margin-bottom: 24px;
    }
    &__body {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &__body > .book {
        margin-right: 24px;
    }
    &__body > .book:last-child {
        margin-right: 0;
    }
}