.overlay {
    position: fixed;
    visibility: hidden;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 6;
    background: rgba(0,0,0,.5);
    opacity: 1;
    &--visible {
        visibility: visible;
    }
}