.reader-book {
    height: calc(100% - 168px);
    // font-size: 16px;
    // text-align: left;
    // line-height: 1.4;
    color: #302119;
    // font-family: 'Times New Roman', Times, serif;
    margin: 0px 30px;
    z-index: 3;
    position: absolute;
    left: 30px;
    right: 30px;
    &--visibility {
        z-index: 1;
    }
}
