.sections {
    padding-top: 60px;
    &__title {
        text-align: center;
        font-size: 36px;
        max-width: 680px;
        margin: 0 auto;
        font-weight: 600;
        line-height: 1.5;
    }
    &__item {
        padding: 44px 0;
    }
    &__img1, &__img2 {
        background-blend-mode: multiply;
        background-color: rgba(0,0,0,0.5);
        background-size: cover;
        background-position: 100% 100%;
        width: 100%;
    }
    &__img1 {
        background-image: url("../../assets/images/section/bg2.jpg");
    }
    &__img2 {
        background-image: url("../../assets/images/section/bg1.jpg");
    }
}


