.social-btn {
    display: inline-block;
    vertical-align: middle;
    &__link {
        display: flex;
        flex-direction: row;
        background-color: #000;
        border-radius: 3px;
        padding: 6px 8px;
        align-items: center;
        color: $white;
        &:hover {
            color: $white;
            text-decoration: none;
            background-color: lighten(#000, 5%);
        }
    }
    &__icon {
        margin-right: 4px;
    }
    &__text-block {
        display: flex;
        flex-direction: column;
        font-weight: 700;
    }
    &__text {
        font-size: 9px;
        font-weight: 100;
        line-height: 9px;
        text-align: left;
    }
    &__store {
        line-height: 13px;
        font-size: 13px;
    }
    &--light {
        .social-btn__link {
            background-color: transparent;
            border: 1px solid $grey;
            color: $grey;
            &:hover {
                color: $white;
                border: 1px solid $white;
            }
        }
    }
}