.spacer {
    &--6 {
        margin-bottom: 6px;
    }
    &--18 {
        margin-bottom: 18px;
    }
    &--24 {
        margin-bottom: 24px;
    }
    &--36 {
        margin-bottom: 36px;
    }
    &--48 {
        margin-bottom: 48px;
    }
    &--56 {
        margin-bottom: 56px;
    }
}